@import 'variables';
@import 'mixins';
@import 'reset';

* {
  box-sizing: border-box;
  // font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
}

body {
  border: 3px solid yellow;
  height: auto;
}

// PAGE LAYOUT
#user-access-page {
  display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-rows: 7rem 40rem;
}

#header{
  border: 2px solid red;
  grid-area: header;
  padding: $page-padding;
}

#main {
  @include scroll;
  border: 2px solid blue;
  display: grid;
  grid-template-areas:
  "left middle right";
  grid-area: main;
  grid-gap: 1rem;
  padding: $page-padding;
}

#occupied-rooms,
#available-rooms,
#revenue-today,
#today-booking,
#upcoming-booking,
#past-booking {
  @include scroll;
  height: 100%;
  padding: $page-padding;
}

#occupied-rooms,
#today-booking {
  border: 2px solid green;
  grid-area: left;
}

#available-rooms,
#upcoming-booking {
  border: 2px solid purple;
  grid-area: middle;
}

#revenue-today,
#past-booking {
  border: 2px solid pink;
  grid-area: right;
}

h2 {
  @include sub-header;
}

button:hover {
  @include button-hover;
}

#num-available-rooms,
#percent-occupied-rooms,
#num-revenue-today {
  font-size: $manager-numbers;
  padding: $page-padding;
}


//
