@import 'variables';
@import 'mixins';
@import 'reset';

* {
  box-sizing: border-box;
  // font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/overlook-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

// PAGE LAYOUT
#user-access-page {
  display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-rows: 7rem 40rem;
}

#header{
  @include opacity;
  grid-area: header;
  padding: $page-padding;
}

#main-available-rooms {
  @include scroll;
  @include opacity;
  grid-area: main;
  padding: $page-padding;
}

#main-customer-page {
  @include scroll;
  display: grid;
  grid-template-areas:
  "top top top"
  "left middle right";
  grid-gap: 1rem;
  padding: $page-padding;
}

#total-spent,
#manager-search-container {
  grid-area: top;
}

#occupied-rooms,
#available-rooms,
#revenue-today,
#today-bookings,
#upcoming-bookings,
#past-bookings {
  @include scroll;
  height: 100%;
  padding: $page-padding;
}

#occupied-rooms,
#today-bookings {
  @include opacity;
  grid-area: left;
}

#available-rooms,
#upcoming-bookings {
  @include opacity;
  grid-area: middle;
}

#revenue-today,
#past-bookings {
  @include opacity;
  grid-area: right;
}

h2 {
  @include sub-header;
}

#num-available-rooms,
#percent-occupied-rooms,
#num-revenue-today {
  font-size: $manager-numbers;
  padding: $page-padding;
}

// Inputs & Buttons
input {
  @include input;
  margin: $page-margin;
}

button {
 @include button;
 margin: $page-margin;
}

button:hover {
  @include button-hover;
}

// p tags throughout page
p {
  font-size: 1rem;
  margin: $page-margin;
}
//
