@mixin sub-header {
  border-bottom: .1rem solid black;
  font-size: 2rem;
  padding: $page-padding;
  text-align: center;
}

@mixin scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@mixin button {
  font-size: 1rem;
  padding: .5rem;
  width: 9rem;
}

@mixin button-hover {
  cursor: pointer;
}

@mixin input {
  font-size: 1rem;
  padding: .5rem;
}

//
